In [63]:
class laptop:
    def __init__(self,model,price,company_name):
        self.model=model
        self.price=price
        self.company_name=company_name
        self.laptop_name= company_name + " " + model
        
    def discount(self,num):
        off_price = (num/100) * self.price
        return self.price - off_price
        
        
l = laptop("HPab219tx",63000,"Hewlett packard")
print(l.laptop_name)

Hewlett packard HPab219tx

In [64]:
l.__dict__

{'model': 'HPab219tx',
 'price': 63000,
 'company_name': 'Hewlett packard',
 'laptop_name': 'Hewlett packard HPab219tx'}

In [65]:
l.discount(0)

63000.0

In [66]:
class circle:
    pi = 3.14
    def __init__(self,radius):
        self.radius = radius
    def circumference(self):
        return 2*circle.pi*self.radius

In [67]:
m = circle(1)

In [68]:
print(m)

<__main__.circle object at 0x078B37F0>

In [69]:
m.circumference()

6.28

In [70]:
class student:
    def __init__(self,firstname,lastname,age):
        self.firstname = firstname
        self.lastname = lastname
        self.age= age
    def fullname(self):
        return f"{self.firstname} {self.lastname} is {self.age} years old"

In [71]:
s1 = student("Anurag","sharma",24)

In [72]:
s1.fullname()

'Anurag sharma is 24 years old'

In [113]:
class people:
    count = 0
    def __init__(self,first_name,last_name,age):
        people.count += 1
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
    
    #class methods
    @classmethod
    def countfunc(cls):
        return f"total number of instances of {cls.__name__} is {people.count}"
    @classmethod
    def from_string(cls,string):
        name,lastname,age = string.split(',')
        return cls(name,lastname,age)
    
   

    def fullname(self):
        return f"{self.first_name} {self.last_name} {self.age}"

In [114]:
p1=people("anurag","sharma",24)
p2 = people("deepak" , "singh" , 24)
p11=people("anurag","sharma",24)
p22 = people("deepak" , "singh" , 24)
p13=people("anurag","sharma",24)
p24 = people("deepak" , "singh" , 24)
p15=people("anurag","sharma",24)
p26 = people("deepak" , "singh" , 24)

In [115]:
print(people.count)

8

In [116]:
print(people.countfunc())

total number of instances of people is 8

In [117]:
p3 = people.from_string('Anurag,Sharma,24')
p3.fullname()

'Anurag Sharma 24'